*{
	margin: 0;
	padding: 0;
}



/*Header*/

.header{
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 750px 50%;
	height: 180px;
	width: 100%;
	background: linear-gradient(90deg, rgba(84,204,118,1) 0%, rgba(150,102,54,1) 49%, rgba(132,107,200,1) 100%);
}

.titulo{
	height: 120px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.titulo p{
	font-size: 3rem;
	margin-left: 30px;	
}

.titulo img{
	height: 100px;
}

.lista{
	height: 115px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	font-size: 1.5rem;
	padding: 7.5px;
	font-family: 'Montserrat', sans-serif;
}

.lista a{
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: all 250ms;


}

.lista a:hover{
	background-color: green;
	padding: 20px;
	transform: scale(1.0);
}




/*Contenido Index*/

.contenedor{
	height: 699px;
	background-image: url("https://limrasales.in/wp-content/uploads/2022/01/hvac.jpg");
	background-position: center;
}

.item{
	text-align: center;
	font-size: 2.5rem;
	padding-top: 100px;
	
}

.item a{
	text-decoration: none;
	color: #06CAFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	transition: all 250ms;
}

.item a:hover{
	background-color: grey;
	padding: 20px;
	transform: scale(1.0);
}


/*Contenido Servicios*/

.contenedorservicios{
	display: flex;
	flex-wrap: wrap;
	padding: 90px 90px 80px 80px;
}

.texto{
	text-align: center;
	width: 50%;
	height: 500px;
	transition: all 250ms;
}

.texto p{
	font-size: 1.5rem;
}

.texto img{
	height: 400px;
	padding: 25px;
}

.texto:hover{
	transform: scale(1.1);
} 

/*Footer*/

.logos{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	background: linear-gradient(90deg, rgba(84,204,118,1) 0%, rgba(150,102,54,1) 49%, rgba(132,107,200,1) 100%);
	
}

.logos img{
	height: 75px;
}


